
{% extends 'baseback.html.twig'%}
{% block body%}
</br>
</br>
</br>
<h1>add formation</h1>
{{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
    <label for="inputText">Titre du projet</label>
        {{ form_widget(f.titre,{'attr':{'class':'form-control'}}) }}
    <br/>{{ form_errors(f.titre,{'attr':{'class':'text-danger'}}) }}
    <br/>

    <label for="inputText">Categorie</label>
        {{ form_widget(f.categorie,{'attr':{'class':'form-control'}}) }}
   <br/> {{ form_errors(f.categorie,{'attr':{'class':'text-danger'}}) }}
    <br/>

    <label for="inputText">Tuteur</label>
        {{ form_widget(f.tuteur,{'attr':{'class':'form-control'}}) }}
    <br/>{{ form_errors(f.tuteur,{'attr':{'class':'text-danger'}}) }}
     <br/>

    <label for="inputText">posté le</label>
        {{ form_widget(f.updated,{'attr':{'class':'form-control'}}) }}
   <br/> {{ form_errors(f.updated,{'attr':{'class':'text-danger'}}) }}
    {{ form_end(f) }}


    
    
{%endblock%}
    
 