{% extends 'base.html.twig' %}
{% block body %}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Détails du projet</h2>
      </div>
    </div><!-- End Breadcrumbs -->
<br><br>
<section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">
      <div class="row">

<div class="col-lg-7">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Titre du projet</h5>
              <p>{{ p.titre }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Catégorie</h5>
              <p>{{ p.categorie }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Période</h5>
              <p>{{ p.periode }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Budget</h5>
              <p>{{ p.budget }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>La portée du projet</h5>
              <p>{{ p.portee }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5><center><b>Déscription :</b></center></h5>
            </div>
</div>
<div class="col-lg-5">
  <center><p>{{p.description}}</p></center>
</div>
</div>
</div>
</section>
<table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Numéro Tel</th>
                    <th scope="col">Lettre de motivation</th>
                    <th scope="col">Curriculum vittae</th>
                    <th scope="col">ID du projet</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>  
                    {% for c in condidature %} </tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.prenom }}</td>
                        <td> {{ c.email }}</td>
                        <td> {{ c.numTel }}</td>
                        <td> {{ c.lettremotivation }}</td>
                        <td> {{ c.cv }}</td>
                        <td> {{ c.projectId }}</td>
                        <td>
                            <a href="{{ path('app_accept_condidature', {'projectId': p.id, 'condidatureId': c.id}) }}">Accepter | </a>
                            <a href="{{ path('app_refuse_condidature', {'projectId': p.id, 'condidatureId': c.id}) }}">Refuser</a>
                        </td>
                </tbody> {% endfor %}
              </table>
<center>
<br><br>
<a href="{{path('app_Mine')}}">Back to list</a>

</center>
{% endblock %}