{% extends 'base.html.twig' %}

{% block body %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Détails du projet</h2>
  </div>
</div><!-- End Breadcrumbs -->
<br><br>
<section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">
      <div class="row">

<div class="col-lg-7">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Titre du projet</h5>
              <p>{{ p.titre }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Catégorie</h5>
              <p>{{ p.categorie }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Période</h5>
              <p>{{ p.periode }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Budget</h5>
              <p>{{ p.budget }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>La portée du projet</h5>
              <p>{{ p.portee }}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5><center><b>Déscription :</b></center></h5>
            </div>
</div>
<div class="col-lg-5">
  <center><p>{{p.description}}</p></center>
</div>
</div>
</div>
</section>
{% if not hasCondidature %}
  <center>
    <a class="btn btn-success text-white" href="{{ path('app_condidature', {'id': p.id}) }}">Postuler</a>
  </center>
{% endif %}

{% if condidature %}
  {% if condidature.status == 'accepted' %}
    <center>
      <p>Condidature acceptée!</p>
      <a class="btn btn-primary text-white" href="{{ path('app_contrat_new', {'id': p.id}) }}">Accédez au contrat .</a>
    </center>
  {% elseif condidature.status == 'refused' %}
    <center>
      <p>Condidature refusée!</p>
    </center>
  {% endif %}
{% endif %}

{% if hasCondidature %}
  <center>
    <p>Vous avez déjà postulé!</p>
  </center>
{% else %}
{% endif %}

<br><br>
<center>
<a href="{{ path('app_All') }}">Back to list</a>
</center>

{% endblock %}
