<h1>add formation</h1>
{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
    {# ... #}

    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.file) }}
{{ form_end(form) }}