{% extends 'baseback.html.twig' %}

{% block body %}
<main id="main" class="main">
    <h1 style="color:#012970;text-align:left;">Contrat</h1>

    <table class="table table-bordered" style="border-color:black;width:60%">
        <tbody>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white;width:100px">Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white">Nom_client</th>
                <td>{{ contrat.nomClient }}</td>
            </tr>
           <tr  style="border-color:black">
                <th style="background-color:#012970;color :white">Date_contrat</th>
                <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white">Montant</th>
                <td>{{ contrat.montant }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white">Description</th>
                <td>{{ contrat.description }}</td>
            </tr>
            <tr style="border-color:black" >
                 <th style="background-color:#012970;color :white;width:100px">image</th>
                <td><img src="{{ asset('uploads/' ~ contrat.image) }}" width=100 px;height=100 px" ></td>
            </tr>
        </tbody>
    </table>

   <button class="btn btn-primary btn-sm"> <a href="{{ path('app_contratback_controller_index') }}"style="color:white">back to list</a></button>
<br>
<div>
               <form method="post" action="{{ path('generate_qr_code', {'id': contrat.id}) }}">
                   <input type="hidden" name="text" value="
                       nomclient: {{ contrat.nomclient }}
                       datecontrat: {{ contrat.datecontrat ? contrat.dateContrat|date('Y-m-d') : '' }}
                       montant: {{ contrat.montant }}
                       description: {{ contrat.description }}
                       image:  img src="{{ asset('uploads/' ~ contrat.image) }}" 
                   ">
                  <button type="submit" class="btn btn-primary btn-sm">Generate QR Code</button>
               </form>
           </div>
       </div>
   </div>
    

    
    </main><!-- End #main -->
{% endblock %}
