<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - SKILLHUB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    {% block stylesheets %}
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('back/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('back/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('back/css/style.css')}}" rel="stylesheet">

        {% endblock %}

        {% block javascripts %}
  <script src="{{asset('back/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{asset('back/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('back/vendor/chart.js/chart.min.js')}}"></script>
  <script src="{{asset('back/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{asset('back/vendor/quill/quill.min.js')}}"></script>
  <script src="{{asset('back/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{asset('back/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{asset('back/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('back/js/main.js')}}"></script>

  
    {% endblock %}
     <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ path('app_admin') }}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">SKILLHUB</span>
      </a>
      
    </div><!-- End Logo -->
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading"><a class="nav-link collapsed" href="{{ path('app_admin') }}">
          <i class="bi bi-card-list"></i>
          <span>Dashboard</span>
        </a></li>
 <li class="nav-item">
     
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('app_contratback_contoller_index') }}">
          <i class="bi bi-card-list"></i>
          <span>Contrats</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('app_transactionback_index') }}">
        <i class="bi bi-card-list"></i>
          <span>Transactions</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>
    
    
    </aside><!-- End Sidebar-->
        {% block body %}{% endblock %}

    <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>SKILLHUB</span></strong>
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</html>
