{% extends 'baseback.html.twig' %}

{% block body %}
<main id="main" class="main">
    <h1 style="color:#012970;text-align:left;">Transaction</h1>

    <table class="table table-bordered" style="border-color:black;width:60%">
        <tbody>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white;width:100px">Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white;width:100px">Date_transaction</th>
                <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('Y-m-d') : '' }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white;width:100px">Methode_paiement</th>
                <td>{{ transaction.methodePaiement }}</td>
            </tr>
            <tr  style="border-color:black">
                <th style="background-color:#012970;color :white;width:100px">Montant</th>
                <td>{{ transaction.montant }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary btn-sm"> <a href="{{ path('app_transactionback_index') }}" style="color:white">back to list</a></button>

   
    </main><!-- End #main -->
{% endblock %}
