{# event_details.twig #}
{% extends 'baseF.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}


{% block title %}Détails de l'événement{% endblock %}

{% block body %}
<br></br>
<br></br>
    <div style="text-align: center; padding: 40px;">
        <h1 style="color: green;">Détails de l'événement</h1>
    </div>
    

    <div style="text-align: center;">
        <h2>{{ event.titre }}</h2>
        
              <video controls style="max-width: 80%;">
            <source src="{{ asset('/images/affiche/' ~ event.video) }}" type="video/mp4">
        </video>


        <p>{{ event.describ }}</p>
        <p>Lieu: {{ event.lieu }}</p>
        <p>Date: {{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
        <p>Type: {{ event.type }}</p>
        
         <button onclick="window.location.href='{{ path('app_event_index') }}'" ;class="btn custom-green">retour</button>
    </div>
{% endblock %}
