{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
<br>

    <h1 style="color:green; text-align: center;">Contrat</h1>
<button class="btn" style="background-color:#2E4053  ;border-color: black;color: purple;margin-left:80%"><a href="{{ path('print_pdf') }}">print</a></button>
<br><br>
    <table class="table table-bordered" style="border-color:black;width:70%;margin-left:15%">
        <thead>
            <tr style="border-color:black">
                
                <th style="background-color:green;color :white">Nom_client</th>
                <th style="background-color:green;color :white">Date_contrat</th>
                <th style="background-color:green;color :white">Montant</th>
                <th style="background-color:green;color :white">Description</th>
                <th style="background-color:green;color :white">image</th>
                <th style="background-color:green;color :white">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                
                <td>{{ contrat.nomClient }}</td>
                <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.montant }}</td>
                <td>{{ contrat.description }}</td>
                <td><img src="{{ asset('uploads/' ~ contrat.image) }}"width=100 px;height=100 px"></td>
                <td>
                <button class="btn btn-success btn-sm">    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}"style="color:white;">afficher</a></button>
                <button class="btn btn-primary btn-sm">    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}"style="color:white;">modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <center> <button class="btn btn-success btn-sm"> <a href="{{ path('app_contrat_new') }}"style="color:white;text-align:center;">ajouter</a></button> </center>
 <br>
 <center> <button class="btn btn-success btn-sm"> <a href="{{ path('app_transaction_index') }}"style="color:white;text-align:center;">Transaction</a></button> </center>
 <br>
 {# Manual pagination controls #}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if currentPage > 1 %}
                            <li class="page-item">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': currentPage - 1}) }}">Previous</a></button>
                            </li>
                        {% endif %}
                        
                        {% for page in 1..totalPages %}
                            <li class="page-item{% if page == currentPage %} active{% endif %}">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': page}) }}">{{ page }}</a></button>
                            </li>
                        {% endfor %}
                        
                        {% if currentPage < totalPages %}
                            <li class="page-item">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': currentPage + 1}) }}">Next</a></button>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
   $(document).ready(function(){
     // Fonction pour charger tous les logements
    function loadAllContrats() {
        $.ajax({
            type: 'GET',
            url: '{{ path('load_all_contrats') }}',
            success: function(data){
                updateTable(data);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    // Charger tous les logements au chargement de la page
    loadAllContrats();


    $('#search-nomclient').keyup(function(){
        var nomclient = $(this).val();

        if(nomclient != ""){
            $.ajax({
                type: 'GET',
                url: '{{ path('search_by_nomclient') }}',
                data: {'nomclient': nomclient},
                success: function(data){
                    if(data.length > 0){
                        updateTable(data);
                    } else {
                        $('#search-results').html("<p style='font-size: 14px; text-align: center; margin-top: 10px'>Aucun contrat trouvé pour ce nom du client.</p>");
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        } else {
            // Si le champ de recherche est vide, réinitialisez le tableau pour afficher tous les logements
            updateTable([]);
        }
    });
});
// Déclarer une variable pour stocker le contenu initial du tableau
var initialTableContent = $('#contrat-table-body').html();

function updateTable(results) {
    var html = '';

    if (results.length > 0) {
        results.forEach(function(contrat) {
            html += '<tr>';
            html += '<td>' + contrat.id + '</td>';
            html += '<td>' + contrat.Nom_client + '</td>';
            html += '<td>' + contrat.Date_contrat + '</td>';
            html += '<td>' + contrat.montant + '</td>';
            html += '<td>' + contrat.description + '</td>';
            html += '<td>' + contrat.image + '</td>';
            
        });
    } else {
        html += '<tr><td colspan="7">Aucun contrat trouvé pour ce nom du client.</td></tr>';
    }

    // Placer le contenu initial avant le message "Aucun contrat trouvé"
    html = initialTableContent + html;

    $('#contrat-table-body').html(html);
}

 </script>
{% endblock %}
{% endblock %}