{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
<br><br>

    <h1 style="color:green; text-align: center;">Contrat</h1>

    <table class="table table-bordered" style="border-color:black;width:70%;margin-left:15%">
        <thead>
            <tr style="border-color:black">
                
                <th style="background-color:green;color :white">Nom_client</th>
                <th style="background-color:green;color :white">Date_contrat</th>
                <th style="background-color:green;color :white">Montant</th>
                <th style="background-color:green;color :white">Description</th>
                <th style="background-color:green;color :white">image</th>
                <th style="background-color:green;color :white">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                
                <td>{{ contrat.nomClient }}</td>
                <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.montant }}</td>
                <td>{{ contrat.description }}</td>
                <td><img src="{{ asset('uploads/' ~ contrat.image) }}"width=100 px;height=100 px"></td>
                <td>
                <button class="btn btn-success btn-sm">    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}"style="color:white;">afficher</a></button>
                <button class="btn btn-primary btn-sm">    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}"style="color:white;">modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 <center> <button class="btn btn-success btn-sm"> <a href="{{ path('app_contrat_new') }}"style="color:white;text-align:center;">ajouter</a></button> </center>
 <br>
 <center> <button class="btn btn-success btn-sm"> <a href="{{ path('app_transaction_index') }}"style="color:white;text-align:center;">Transaction</a></button> </center>
 <br>
 {# Manual pagination controls #}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if currentPage > 1 %}
                            <li class="page-item">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': currentPage - 1}) }}">Previous</a></button>
                            </li>
                        {% endif %}
                        
                        {% for page in 1..totalPages %}
                            <li class="page-item{% if page == currentPage %} active{% endif %}">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': page}) }}">{{ page }}</a></button>
                            </li>
                        {% endfor %}
                        
                        {% if currentPage < totalPages %}
                            <li class="page-item">
                                <a button class="btn btn-success btn-sm"="page-link" href="{{ path('app_contrat_index', {'page': currentPage + 1}) }}">Next</a></button>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
{% endblock %}