{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <br>
    <h1 style="color:green; text-align: center;">Contrat</h1>
    <ul style="list-style-type: none; display: flex; justify-content: flex-end; gap: 730px; padding-right: 15%;">
  <li>
    <button class="btn" style="background-color:#2E4053; border-color: black; color: purple;">
      <a href="{{ path('print_pdf') }}" style="color:white;">print</a>
    </button>
    <br><br>
    <button class="btn btn-success btn-sm">
            <a href="{{ path('app_contrat_new') }}" style="color:white;text-align:center;">ajouter contrat</a>
    </button>
  </li> 
  <li>
    <button class="btn btn-success btn-sm">
      <a href="{{ path('app_transaction_index') }}" style="color:white; text-align:center;">Transaction</a>
    </button>
  </li>
</ul>

    
    
        <div class="search-container">
           <input type="text" id="search_by_nomclient" placeholder="Rechercher par nomclient..." class="form-control" style="width: 50%; margin: 0 auto; display: block;">


            <div id="search-results"></div>
        </div>
    
    <br>
    <table class="table table-bordered" style="border-color:black;width:70%;margin-left:15%">
        <thead>
            <tr style="border-color:black">
                <th style="background-color:green;color:white">Nom_client</th>
                <th style="background-color:green;color:white">Date_contrat</th>
                <th style="background-color:green;color:white">Montant</th>
                <th style="background-color:green;color:white">Description</th>
                <th style="background-color:green;color:white">image</th>
                <th style="background-color:green;color:white">actions</th>
            </tr>
        </thead>
        <tbody id="contrat-table-body">
            {% for contrat in contrats %}
                <tr>
                    <td>{{ contrat.nomClient }}</td>
                    <td>{{ contrat.dateContrat ? contrat.dateContrat|date('Y-m-d') : '' }}</td>
                    <td>{{ contrat.montant }}</td>
                    <td>{{ contrat.description }}</td>
                    <td><img src="{{ asset('uploads/' ~ contrat.image) }}" width="100" height="100"></td>
                    <td>
                        <button class="btn btn-success btn-sm">
                            <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}" style="color:white;">afficher</a>
                        </button>
                        <button class="btn btn-primary btn-sm">
                            <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}" style="color:white;">modifier</a>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <br>
    

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            // Define URLs for AJAX requests
            var loadAllContratsUrl = "{{ path('load_all_contrats') }}";
            var searchByNomClientUrl = "{{ path('search_by_nomclient') }}";

            // Initialize initial table content
            var initialTableContent = $('#contrat-table-body').html();

            function loadAllContrats() {
                $.ajax({
                    type: 'GET',
                    url: loadAllContratsUrl,
                    success: function(data){
                        updateTable(data);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            function updateTable(results) {
                var html = '';

                if (Array.isArray(results) && results.length > 0) {
                    results.forEach(function(contrat) {
                        html += '<tr>';
                        html += '<td>' + contrat.nom_client + '</td>';
                        html += '<td>' + contrat.date_contrat + '</td>';
                        html += '<td>' + contrat.montant + '</td>';
                        html += '<td>' + contrat.description + '</td>';
                     html += '<td><img src="/uploads/' + contrat.image + '" width="100" height="100"></td>';
                        html += '<td><button class="btn btn-success btn-sm"><a href="' + contrat.showPath + '" style="color:white;">afficher</a></button><button class="btn btn-primary btn-sm"><a href="' + contrat.editPath + '" style="color:white;">modifier</a></button></td>';
                        html += '</tr>';
                    });
                } else {
                    html += '<tr><td colspan="6">Aucun contrat trouvé pour ce nom du client.</td></tr>';
                }

                $('#contrat-table-body').html(html);
            }

            $('#search_by_nomclient').keyup(function(){
                var nomclient = $(this).val();

                if(nomclient != ""){
                    $.ajax({
                        type: 'GET',
                        url: searchByNomClientUrl,
                        data: {'nom_client': nomclient},
                        success: function(data){
                            updateTable(data);
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    loadAllContrats();
                }
            });
        });
    </script>
{% endblock %}
